@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  color: #555;
}

:root {
  --primary-color: #e54b4b;
  --primary-color-anti: #fff;
  --primary-color-light: #dd2020;
  --primary-color-light-anti: #fff;
  --grey-color: #f9fafd;
  --dark-color: #3c4858;
  --dark-color-anti: #fff;
}

.bg-grey {
  background-color: var(--grey-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: var(--dark-color-anti);
}

.primary {
  color: var(--primary-color);
}

.center {
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
  position: relative;
}

.section-title::before,
.section-title::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50% 50% 50% 0;
  border: 3px solid var(--primary-color);
  position: absolute;
  bottom: -27.5px;
  left: 50%;
  transform: translateX(-95%) rotate(45deg);
}

.section-title::after {
  border-radius: 50% 0 50% 50%;
  transform: translateX(-5%) rotate(45deg);
}

.section-title > .line::before,
.section-title > .line::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(calc(-100% - 18px));
  background-color: var(--primary-color);
}

.section-title > .line::after {
  transform: translateX(18px);
}

.section-description {
  color: var(--dark-color);
}
