@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  color: #555;
}

:root {
  --primary-color: #e54b4b;
  --primary-color-anti: #fff;
  --primary-color-light: #dd2020;
  --primary-color-light-anti: #fff;
  --grey-color: #f9fafd;
  --dark-color: #3c4858;
  --dark-color-anti: #fff;
}

.bg-grey {
  background-color: var(--grey-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: var(--dark-color-anti);
}

.primary {
  color: var(--primary-color);
}

.center {
  text-align: center;
}
