@import "../base/reset.css";
@import "../base/layout.css";

@import "../3rd-party/font-awesome.min.css";

@import "../components/button.css";
@import "../components/hobbies.css";
@import "../components/achievements.css";
@import "../components/progress-bar-group.css";
@import "../components/progress-bar.css";
@import "../components/services.css";

/* header start */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 10px 20px #0001;
}

.header .col-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 20px;
}

.header nav {
  display: none;
  gap: 25px;
}

.header nav > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: var(--dark-color);
}

.header nav > a:hover,
.header nav > a.active {
  color: var(--primary-color);
}

.header .socials {
  display: none;
  gap: 5px;
}

.header .socials > a {
  font-size: 15px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  text-align: center;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 0.4em;
  transition: all 0.5s;
}

.header .socials > a:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.4em;
}

.header .hamburger {
  font-size: 30px;
}

@media (min-width: 992px) {
  .header nav {
    display: flex;
  }

  .header .socials {
    display: block;
  }

  .header .hamburger {
    display: none;
  }
}

/* header end */

/* hero start */
.hero {
  min-height: 100vh;
  background-image: url(../../img/01.png);
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.hero .col-12 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero .before-title {
  font-weight: bold;
}

.hero .hero-title {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
}

.hero .hero-description {
  margin: 0.5em 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 2em;
  color: var(--dark-color);
}

.hero .hero-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
/* hero end */

/* about me start */

.photo-border {
  --border-width: 15px;
  border: var(--border-width) solid #eee;
  position: relative;
  border-radius: calc(var(--border-width) / 2);
}
.my-photo-hidden {
  width: 100%;
  visibility: hidden;
}

.my-photo {
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  object-position: left;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  padding-left: 40px;
}

.about-me > .profession {
  font-weight: 600;
}

.about-me > img {
  height: 30px;
}

@media (max-width: 768px) {
  .about-me > h2 {
    margin-top: 1em;
  }
}

@media (min-width: 768px) {
  .about-me {
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .about > .row {
    display: flex;
    align-items: center;
  }
  .about-me {
    padding-left: 50px;
  }
}
/* about me end */
/* hobbies start */

/* hobbies end  */

/* expertise start */
.expertise {
  background-image: url(../../img/skills.jpg);
  background-size: 35% auto;
  background-position: left;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .expertise {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../../img/skills.jpg);
  }
}

/* expertise end */

/* freelancer start */
.freelancer-block {
  padding: 10px;
}

.freelancer {
  background-image: url(../../img/hireme.jpg);
  /* background-size: cover; */
  background-position: center;
  border-radius: 10px;
}

.freelancer-block .btn {
  margin-top: 2em;
}
/* freelancer end */

/* Contact start */
.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
}

.contact > .icon {
  font-size: 30px;
}
/* Contact end */
