@import "../base/reset.css";
@import "../base/layout.css";

@import "../3rd-party/font-awesome.min.css";

@import "../components/button.css";

/* header start */
.header {
  position: sticky;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 10px 20px #0001;
}

.header .col-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 20px;
}

.header nav {
  display: none;
  gap: 25px;
}

.header nav > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: var(--dark-color);
}

.header nav > a:hover,
.header nav > a.active {
  color: var(--primary-color);
}

.header .socials {
  display: none;
  gap: 5px;
}

.header .socials > a {
  font-size: 15px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  text-align: center;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 0.4em;
  transition: all 0.5s;
}

.header .socials > a:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.4em;
}

.header .hamburger {
  font-size: 30px;
}

@media (min-width: 992px) {
  .header nav {
    display: flex;
  }

  .header .socials {
    display: block;
  }

  .header .hamburger {
    display: none;
  }
}

/* header end */
